<footer>
    <p id="privacy">
        Ai sensi della legge 675/96 (Tutela della persona e di altri soggetti rispetto al trattamento dei dati personali) ed ai sensi dell’art. 13 d.lgs. 30 giugno 2003 n°196 – “Codice in materia di protezione dei dati personali” e dell’art. 13 GDPR 679/16 – “Regolamento europeo sulla protezione dei dati personali” autorizzo trattamento dei dati personali contenuti nel presente Curriculum Vitae per permettere una adeguata valutazione della mia candidatura, con procedure sia manuali che informatiche.
    </p>
    <p>Copyright © 2024. Tutti i diritti riservati.</p>
</footer>
